<h3>Login</h3>

<% if flash[:warning] != nil %>
	<div class="errorExplanation">
		<p style="color: red"><%= flash[:warning] %></p>
	</div>
<% end -%>

<% form_tag 'login' do -%>

	<label for="user_login">Login:</label><br/>
	<%= text_field "user", "login", :size => 20 %><br/>

	<label for="user_password">Password:</label><br/>
	<%= password_field "user", "password", :size => 20 %><br/>

	<%= submit_tag "Submit" %> 

<% end -%>

